body {
    background-color: #eeeeee;
}

.nav-wrapper {
    position: fixed;
}

.left {
    margin-left: 3%;
}

#search-input {
    border-radius: 5px;
    background-color: white;
    text-align: center;
    color: black;
    width: 35%;
    margin-left: 20%;
    min-width: 320px;
    font-size: 95%;
}

.row {
    padding: 5% 3%;
}

.card {
    min-width: 250px;
    margin: 10px;
}

#warning {
    text-align: center;
    color: darkred;
    font-size: 30px;
    visibility: hidden;
}

.card-action {
    padding:0px 2px 0px 10px !important;
    background-color: #4b515d !important;
    color: white;
}

.card-action > div {
    position: absolute;
    display: inline-block;
    font-size: 110%;
    margin-left: 5px;
    margin-top: 3px;
}








@media (max-width: 600px) {
    #search-input {
        margin-left: 5%;
        width: 90%;
        min-width: 1px;
    }

}