
.sea {
    background-color: #3ccebf;
}

.sand {
    background-color: #ffd59b;
}


nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 64px !important;
    line-height: 64px !important;
}

.header {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background-color: #eeeeee;
    height: 100px;
    width: 100%;
    margin-top: 40px;
}

.brand-logo {
    margin-left: 3%;
}

.logo-img {
    margin-top: 2px;
    height: 60px;
    z-index: 10;

}

.logo {
    margin-left: 5%;
    height: 64px;
}

#autocomplet-div {
    display: none;
    position: fixed;
    width: 70%;
    left: 22%;
    min-width: 370px;
    top: 55px;
    z-index: 100000;
    color: black;
}

#auto-list {
    border-radius: 5px;
    border: solid 1.5px silver;
    width: 66%;
}

#auto-depa {
    background-color: #fcfcfc;
    border-bottom: solid 1px silver;
    display: none;
}

#auto-city {
    background-color: #fcfcfc;
    border-bottom: solid 1px silver;
    padding: 10px 5px;
    display: none;
}

#auto-beach {
    background-color: #fcfcfc;
    padding: 10px 5px;
    display: none;

}


.name-auto {
    display: inline;
    font-size: 150%;
    padding: 5px;
    width: 100%;
    border-bottom: solid 0.5px silver;

}

.count-auto {
    font-size: 70%;
    color: #686565;
}

.count-eta {
    color: #919191;
    font-size: 75%;
}

.li-auto {
    margin: 5px;
    cursor: pointer;
}

.liste-search {
    padding: 10px;
    max-height: 200px;
    overflow: auto;
}


#search {
    left: 22%;
    position: fixed;
    width: 70%;
    min-width: 370px;
    line-height: 70px;
}

#search-input {
    border-radius: 4px;
    background-color: white;
    padding: 0 13% 0 3%;
    width: 50%;
    margin: auto;

}

#search-btn {
    height: 34px;
    width: 34px;
    margin: 0;
    right: 45px;
    top: -4px;
    padding: 0 0 !important;
}


#search-advance {
    position: fixed;
    left: 70%;
}

#search-advance > .btn {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    padding: 0 0 !important;
    font-size: 100% !important;
}


.filter {
    padding: 20px 4%;
    margin: auto;
    z-index: 2;
    background-color: #eeeeee;
}

.check {
    display: inline-block;
    width: 10%;
    height: 20px;
    padding: 5px;
    margin-bottom: 5px !important;
    margin-top: 5px;
!important;
    font-size: 120% !important;
}

.hidden {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}


.count {
    right: 10px;
    font-size: 25px;
}

.count-icons {
    right: 5px !important;
    margin: 0 !important;
}

#list {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#list > .card {
    width: 400px;
    margin: 15px;
}

.card-image {
    height: initial !important;
}

.card-image > img {
    height: 235px !important;
}

.separator {
    border-bottom: solid 1.5px #d2d2d2;
    margin: 10px auto 5px;
}


.material-icons {
    height: 120%;
}


@media (max-width: 600px) {

    #search {
        left: 3%;
        width: 90%;
    }

    #filter-btn {
        left: -20px;
    }

    #search-advance {
        left: 65%;
        width: 90%;
    }

    .filter {
        padding: 20px 10px;
    }

    #autocomplet-div {
        left: 3%;
        width: 90%;
    }

}

@media (max-width: 900px) {
    .filter {
        padding: 20px 10px;
    }

    .logo {
        margin-left: 2%;
    }
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    background-color: #3ccebf !important;
    border-color: #3ccebf !important;
}