body {
    background-color: #eeeeee;
    font-family: 'Roboto';
    padding-top: 150px;
}



.sea {
    background-color: #2ecbfe;
}

.sand {
    background-color: #ffd59b;
}

nav {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 64px !important;
    line-height: 64px !important;
}

.header {
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 10;
    background-color: #eeeeee;
    height: 100px;
    width: 100%;
    margin-top: 40px;
}

.brand-logo {
    margin-left: 3%;
}





#search {
    left: 22%;
    position: fixed;
    width: 70%;
    min-width: 370px;
}

#search-input{
    border-radius: 4px;
    background-color: white;
    padding: 0px 13% 0px 3%;
    width: 50%;
    margin: auto;

}

#search-btn {
    height: 34px;
    width: 34px;
    margin: 0px;
    right: 45px;
    top: -4px;
}


#search-advance {
    position: fixed;
    left: 70%;
}

#search-advance > .btn  {
    height: 40px;
    width: 40px;
}


.filter {
    padding: 20px 10%;
    margin: auto;
    z-index: 10;
    background-color: #eeeeee;
}

.check {
    display: inline-block;
    width: 10%;
    height: 20px;
    padding: 5px;
    margin-bottom: 5px !important;
    margin-top: 5px; !important;
    font-size: 120% !important;
}

.hidden {
    display: none !important;
    height: 0px !important;
    width: 0px !important;
}



.btn {
    border-radius: 4px;
    padding: 0px 0px !important;
    font-size: 100% !important;
}



.card {
    margin: 10px;
}

.card-action {
    padding:0px 2px 0px 10px !important;
    background-color: #4b515d !important;
    color: white;
}

.card-content {
    padding: 8% !important;
}

.card-image {
    height: 100%;
    width: 100%;
}

.card-action > div {
    position: absolute;
    display: inline-block;
    font-size: 110%;
    margin-left: 5px;
    margin-top: 3px;
}

.count {
    right: 5px;
    font-size: 25px;
}

.count-icons {
    right: 5px !important;
    margin: 0px !important ;
}


#warning {
    text-align: center;
    font-size: large;
}

.separator {
    border-bottom: solid 1.5px #d2d2d2;
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
}


.material-icons {
    height: 120%;
}



@media (max-width: 600px) {

    #search {
        left: 3%;
        width: 90%;
    }

    #filter-btn {
        left: -20px;
    }

    #search-advance {
        left: 65%;
        width: 90%;
    }

    .filter {
        padding: 20px 10px;
    }

}

@media (max-width: 900px) {
    .filter {
        padding: 20px 10px;
    }
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    background-color: #2ecbfe !important;
    border-color: #2ecbfe !important;
}